/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 27, 2017, 8:59:28 PM
    Author     : job
*/

body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
header{
    background-color: #6e5f7c;
}
 .jumbotron {
    /*  background-image: url("/ILSP-group-final-project/image/natu-pension.jpg");*/
      
      color: #999;
      padding: 35px 20px 35px 25px;
      font-family: Montserrat, sans-serif;
      margin-top: 40px; 
     background-size: cover;
     overflow: hidden;
  }
  
  .container-fluid {
      padding: 0px 15px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #f4511e;
      font-size: 50px;
  }
  .logo {
      color: #f4511e;
      font-size: 200px;
  }
  #navbar {
      margin-bottom: 0;
      background-color: #6e5f7c !important;
      z-index: 9999;
      border: 0;
      min-height: 40px;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
     -webkit-box-shadow: 0 8px 6px -6px #999;
     -moz-box-shadow: 0 8px 6px -6px #999;
     box-shadow: 0 12px 10px -8px #334d4d; 
     
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #1a75ff !important;
      background-color: #999 !important;
  }
 
  .navbar-toggle .icon-bar {
    background-color: #fff;  
    color: #fff !important;
}

  
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #f4511e;
  }
  .carousel {
 
}
  .carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}   
  
  .carousel-caption h3 {
      color: #fff !important;
  }
  @media (max-width: 400px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  
  
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
  
  
  input[type='file'] {
  /* color: transparent;    /* Hides your "No File Selected" */
  /*direction: rtl;        /* Sets the Control to Right-To-Left */
}



    .navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}
   /*
   ..........................................
   The for notefecation 
   ............................................
   */
   a.fa-globe {
  position: relative;
  font-size: 2em;
  color: grey;
  cursor: pointer;
}
span.fa-comment {
  position: absolute;
  font-size: 0.6em;
  top: -4px;
  color: red;
  right: -4px;
}
span.num {
  position: absolute;
  font-size: 0.3em;
  top: 1px;
  color: #fff;
  right: 2px;
}


/*
.........................................

Acount sting
.........................................
*/
/*
fieldset{
        display: none;

    }

    #first{
        display:block;

    }   */
   
  .panel-success{
        border: 1px solid #555;
   }   

#ac
{
   padding-top: 80px;
    padding-bottom: 5px;
}


#acountsting
{
  margin-bottom: 200px;  
     
}
#Anav  li{
        height:50px; 
        position:relative
          
        
    }
#Anav-container ul li a {
        border-top: 1px solid rgba(255,255,255,0.1);
        border-bottom: 1px solid black;
        text-decoration:none;
        display:block;
        height:100%;
        width:100%;
        line-height:50px;
        color:#bbb;
        text-transform: uppercase;
        font-weight: bold;
        padding-left:2%;
        border-left:5px solid transparent;
        letter-spacing:1px;
        transition: all 0.3s linear;
    } 

    /*************************************************
  
    for validation error in all pages
    
    **************************************************/
    
.error{
color:red
}

/********************************************************
***** service form 
*********************************************************/
 #service_main{


        margin-top:30px;
    }
    
#active1{
        color:greenyellow;
    } 
    
    #progressbar li strong{
        
        font-size:18px;
    }

      

   #progressbar li{
        margin-right:52px;
        padding-right: 110px;
        display:inline;
        color:#c1c5cc;
        font-family: 'Droid Serif', serif;

    }
   .form-horizontal fieldset{
        display: none;

    }

    #first{
        display:block;

    }
    #third {
        display: none;
    }
   #sform input[type=submit],
    input[type=button]{
        width: 120px;
        margin:15px 25px;
        padding: 5px;
        height: 40px;
        background-color: #2bc1f2;
        border: none;
        border-radius: 4px;
        color: white;
        font-family: 'Droid Serif', serif;
    }       
 #service_main fieldset h2{
        text-align:center;
        font-family: 'Droid Serif', serif;
    }#service_main fieldset p{
        text-align:center;
        font-family: 'Droid Serif', serif;
    }   
    /******************************
    * image prviwe
    *******************************/
 #output_image
 {
 max-width:120px;
 max-height: 120px;
}

    /*------------------------------------------
    for map
    ............................................*/
    #formap
    {
        height: 100%;
        margin: 0;
        padding: 7px;

    }

    #map {
        width:100%;
        height:500px

    }
    /*end  */
    
   #paginations{
    text-align: center;
    }
/*******************
***for acount index
********************/
#org_profile p{
    
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    font-style: oblique;
    padding: 0px;
    
}

/*
for category
*/
#nav_category{
    background-color: #bbb;
    overflow: hidden;
}
#nav_category  ul {
  overflow: hidden;
  list-style-type: none;
}
 
#nav_category li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}
 
#nav_category li:last-child {
  border-right: none;
}
 
#nav_category li a {
  text-decoration: none;
  color: #000;
  font: 15px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
#nav_category li a:hover {
  color: #2b669a;
  background-color: #D9D9D9 !important;
}
 
#nav_category li.active a {
  font-weight: bold;
  color: #333;
}